<div class="home-content">
  <div class="home-content__menu">
    <div class="home-content__menu--item">
      <img src="../../assets/images/logo-aets.png" alt="" />
      <span>AET Simplificada</span>
    </div>
    <div class="home-content__menu--item">
      <img src="../../assets/images/logo-aetd.png" alt="" />
      <span>AET Detalhada</span>
    </div>
    <div class="home-content__menu--item">
      <img src="../../assets/images/logoTools.png" alt="" />
      <span>AET Ferramentas</span>
    </div>
    <img
      class="home-content__menu-logo"
      src="../../assets/images/ergo-80.svg"
      alt=""
    />
  </div>
</div>

